.DetailsPage {
  box-sizing: border-box;
}
.DetailsPage__Top {
  display: flex;
  gap: 116px;
  padding: 0rem 2rem;
}
.MainImage > img {
  flex: 1 1 auto;
  height: 100%;
  min-width: 372px;
  min-height: 372px;
  width: 372px;
  height: 372px;
  background-color: tomato;
  border-radius: 24px;
}
.Top__Right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.CatDetails {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}
.CatDetails > h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #291507;
}
.CatDetails > p:nth-of-type(1) {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  max-width: 600px;
}
.CatDetails > p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.CatAttributes {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.DetailsPage__Bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "Montserrat";
}
.DetailsPage__Bottom > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #291507;
}
.Photos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 44px;
  row-gap: 46px;
}
.Photos > img {
  flex: 1 1 auto;
  min-width: 278px;
  min-height: 278px;
  max-width: 278px;
  max-height: 278px;
  background-color: tomato;
  border-radius: 24px;
}
