* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}
.App {
  min-height: 100vh;
  /* background-color: aqua; */
}
