.ImageCard {
  width: 100%;
  height: fit-content;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  gap: 20px;
}
.ImageCard > img {
  flex: 1 1 auto;
  height: 100%;
  min-width: 220px;
  min-height: 220px;
  max-height: 220px;
  background-color: tomato;
  border-radius: 24px;
  object-fit: fill;
}
.ImageCard > a {
  text-decoration: none;
}
.ImageCard > a:visited {
  color: #291507;
}
.ImageCard > a > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
